@model VideoCoursesSystem.ViewModels.DataAnalysis.TendencyListViewModel;

<h3>Мерки на централната тенденция</h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Упражнение</th>
            <th scope="col">Средна стойност</th>
            <th scope="col">Медиана</th>
            <th scope="col">Мода</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tendency in Model.Tendencies)
        {
        <tr>
            <td><i class="fas fa-book"></i>   <a asp-controller="Courses" asp-action="Details" asp-route-id="@tendency.CourseId">@tendency.CourseTitle</a></td>
            <td>@tendency.Average</td>
            <td>@tendency.Mediana</td>
            <td>@tendency.Moda</td>
        </tr>
        }
    </tbody>
</table>