@using VideoCoursesSystem.Data.Models;
@model VideoCoursesSystem.ViewModels.Exercises.ExerciseViewModel;
@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;

@{
    ApplicationUser applicationUser = await userManager.GetUserAsync(User);

}
<h2>Submission status</h2>
<form>
    <h4>Submitted files:</h4>
    <ul>
        @if (Model.FileNames == null)
        {
            <li><a asp-controller="Students" asp-action="DownloadExercise" asp-route-fileName="@Model.FileName">@Model.FileName</a></li>
        }
        else
        {

            @foreach (var fileName in Model.FileNames)
            {
                <li><a asp-controller="Students" asp-action="DownloadExercise" asp-route-fileName="@fileName">@fileName</a></li>
            }
        }
    </ul>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="row">Submission status</th>
                <td>Submitted for grading</td>
            </tr>
            <tr>
                <th scope="row">Grading status</th>
                @if (Model.Mark == 0 && User.IsInRole("Admin"))
                {
                    <td>Not graded <a asp-controller="Students" asp-action="ExerciseEditMark" asp-route-exerciseId="@Model.Id"><i class="fas fa-edit"></i></a></td>
                }
                else if (Model.Mark > 0 && User.IsInRole("Admin"))
                {
                    <td>@Model.Mark <a asp-controller="Students" asp-action="ExerciseEditMark" asp-route-exerciseId="@Model.Id"><i class="fas fa-edit"></i></a></td>
                }
                else if (Model.Mark == 0 && !User.IsInRole("Admin"))
                {
                    <td>Not graded</td>
                }
                else if (Model.Mark > 0 && !User.IsInRole("Admin"))
                {
                    <td>@Model.Mark</td>
                }

            </tr>
            <tr>
                <th scope="row">Last modified</th>
                <td>@Model.LastModified</td>
            </tr>
            <tr>
                <th scope="row">Submission comments</th>
                <td>Comments</td>
            </tr>
        </tbody>
    </table>
    @if (applicationUser.Id == Model.StudentId)
    {
        <button type="submit" class="btn btn-primary" asp-controller="Students" asp-action="ExerciseEdit" asp-route-id="@Model.Id">Edit submission</button>
    }
</form>